
.d-flex button{
    margin: 1.4em 0.6em;
    padding: 0.6em 2.3em;
}

.d-flex table{

    margin: 1em 10em;

}

.success{
    background-color: aquamarine;
    padding: 1em;
}

.warning{
    background-color: salmon;
    padding: 1em;
}

table .btnedit{

    color:burlywood;
    cursor: pointer;
}

#text{
    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin lightgray;
}

#button{
    padding: 10px;
    width: 100px;
    color: ivory;
    background-color: lightblue;
    border: none;
}

#box{
    background-color: gray;
    margin: auto;
    width: 300px;
    padding: 20px;
}

a:link, a:visited {
    color: whitesmoke ;
    text-decoration: underline;
    cursor: pointer;
  }
  
  a:link:active, a:visited:active {
    color: none ;
  }

  .py-4{
    background: linear-gradient(90deg, rgba(15,8,135,1) 0%, rgba(28,20,111,1) 34%, rgba(96,9,113,1) 100%);    
  }

  .btn-success{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  }

  .btn-primary{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);    
  }

  .btn-light{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  }

  .btn-danger{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }

  .input-group-text{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  }

